img{
    max-width: 100%;
}


aside{
    width: 68px;
    background-image: url(../img/sidebar-bg.png)
}
/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    aside{
        width: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

.icon-nav i {
    margin:  0 1rem;
}

.offcanvas{ /* add Responsivenes to default offcanvas */
    --bs-offcanvas-width: 100vh!important;
}

.prova{
    background-color: #1B72E8;
}

.text-bg-primary{
    background-color:#165BBA !important;
}

th img{
    width: 30px;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: initial !important;
}