img{
    max-width: 100%;
}

body{
    background-color: salmon;
}
header{
    background-color: red;
    border: 1px solid black;
}
main{
    background-color: violet;
}

aside{
    min-height: 100%;
    width: 68px;
    border: 1px solid black;
    background-color: aquamarine;
}
/*Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    aside{
        width: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

/*XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

.icon-nav li {
    margin:  0 1rem;
}

.offcanvas{ /* add Responsivenes to default offcanvas */
    --bs-offcanvas-width: 100vh!important;
}